body{
    text-align: center;
    background-image: url("images/table.jpg");
    color: white;
    background-size: cover;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

h1{
color:goldenrod;
}

#message-el{
    font-style: italic;
}

button{
    color: #016f32;
    width: 150px;
    background: goldenrod;
    cursor: pointer;
    border: none;
    padding: 8px 10px;
    font-weight: bold;
    border-radius: 2px;
    margin: 4px;
}

button:hover{
 background: rgb(177, 130, 9);
}

.input{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: start;
}

#player-input{
    width: 150px;
    height: 30px;
    border: 1px black solid;
    border-radius: 8px;
    background-color: #bfc1c0;
    border: none;
    color: black;
    margin-left: 2px;
}

.apply-input{
    height: 30px;
    width: 80px;
    padding: 4px 6px;
}